{{- if eq .chezmoi.os "darwin" }}

alias cpwd="pwd | tr -d '\n' | pbcopy" # Copy the working path to clipboard
alias cl="fc -e -|pbcopy"              # Copy output of last command to clipboard
alias caff="caffeinate -ism"           # Run command without letting mac sleep

alias showdot='defaults write com.apple.finder AppleShowAllFiles TRUE'  # show dot files in Finder
alias hidedot='defaults write com.apple.finder AppleShowAllFiles FALSE' # hide dot files in Finder
alias spot-off="sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.metadata.mds.plist"
alias spot-on="sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.metadata.mds.plist"
alias fixmounts="sudo automount -vcu" # Re-mount all shared drives

# If the 'mds' process is eating tons of memory it is likely getting hung on a file. This will tell you which file that is.
alias spot-file="lsof -c '/mds$/'"

alias cleanupLS="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder" # Clean up LaunchServices to remove duplicates in the "Open With" menu

listdsstore() {
    # List the .DS_Store files in the current directory and subdirectories
    echo "Listing .DS_Store files..."
    find "${@:-.}" -type f -name .DS_Store -print
}

rmdsstore() {
    # Recursively delete .DS_Store files, verbosely outputting what is being deleted.
    echo "Removing .DS_Store files..."
    find "${@:-.}" -type f -name .DS_Store -delete -print
}

# Search for a file using MacOS Spotlight's metadata
spotlight() { mdfind "kMDItemDisplayName == '${1}'wc"; }

f() {
    # DESC:		Opens the Finder to specified directory. (Default is current oath)
    # ARGS:		$1 (optional): Path to open in finder
    # REQS:		MacOS
    # USAGE:  f [path]
    open -a "Finder" "${1:-.}"
}

flushdns() {
    # Clears the DNS cache to help fix networking errors
    sudo killall -HUP mDNSResponder
    sudo dscacheutil -flushcache
}

ql() {
    # DESC:   Opens files in MacOS Quicklook
    # ARGS:		$1 (optional): File to open in Quicklook
    # OUTS:		None
    # REQS:   macOS
    # USAGE: ql [file1] [file2]
    qlmanage -p "${*}" &>/dev/null
}

unquarantine() {
    # DESC:		Manually remove a downloaded app or file from the MacOS quarantine
    # ARGS:		$1 (required): Path to file or app
    # OUTS:		None
    # REQS:   macOS
    # NOTE:
    # USAGE:  unquarantine [file]

    local attribute
    # unquarantine:
    for attribute in com.apple.metadata:kMDItemDownloadedDate com.apple.metadata:kMDItemWhereFroms com.apple.quarantine; do
        xattr -r -d "${attribute}" "$@"
    done
}

finderpath() {
    # DESC:		Echoes the path of the frontmost window in the finder
    # USAGE:  cd $(finderpath)
    # Gets the frontmost path from the Finder
    #
    # credit: https://github.com/herrbischoff/awesome-osx-command-line/blob/master/functions.md

    local FINDER_PATH

    FINDER_PATH=$(
        osascript -e 'tell application "Finder"' \
            -e "if (${1-1} <= (count Finder windows)) then" \
            -e "get POSIX path of (target of window ${1-1} as alias)" \
            -e 'else' \
            -e 'get POSIX path of (desktop as alias)' \
            -e 'end if' \
            -e 'end tell' 2>/dev/null
    )

    echo "${FINDER_PATH}"
}

secrets() {
    export ANTHROPIC_API_KEY=$(pass ai/anthropic/api_key)
    export KIMI_API_KEY=$(pass ai/moonshot/api_key)
    export OPENROUTER_API_KEY=$(pass ai/openrouter/api_key)
    export GITHUB_TOKEN=$(pass workspace/code/github_token)
}

kimi() {
  export ANTHROPIC_BASE_URL=https://api.moonshot.ai/anthropic
  export ANTHROPIC_AUTH_TOKEN=$KIMI_API_KEY
  claude $1
}

function voices() {
  say -v \?
}

function os_voice_pl() {
  osascript -e "say \"$1\" using \"Zosia\" speaking rate 200 pitch 45 modulation 80"
}

# TODO: use https://stackoverflow.com/questions/48856158/change-icon-of-notification-when-using-osascript-e-display-notification to add custom icon
# also https://developer.apple.com/library/archive/documentation/LanguagesUtilities/Conceptual/MacAutomationScriptingGuide/SpeakText.html#//apple_ref/doc/uid/TP40016239-CH62-SW1
function os_notification () {
  osascript -e "display notification \"$1\" with title \"$2\" subtitle \"$3\" sound name \"Morse\""
}

function listening_on() {
  lsof -nP -i4TCP:"$1" | grep LISTEN
}

function ssh_terminfo() {
  infocmp -x | ssh $1 -- tic -x -
}

function pfx_to_jks() {
  SRC=$1
  DEST=${SRC/pfx/jks/}
  keytool -importkeystore -srckeystore "$1" -srcstoretype pkcs12 -destkeystore $DEST -deststoretype JKS
}

VPN_IP=94.75.94.6
SATVPN=SatSystem

NORM=`tput sgr0`
BOLD=`tput bold`
REV=`tput smso`
FG_GREEN="$(tput setaf 2)"
FG_RED="$(tput setaf 1)"
FG_WHITE="$(tput setaf 7)"

function vpn_disconnected() {
  scutil --nc status $1 | sed -n 1p | grep -qv Connected
}

function vpn_connected() {
  scutil --nc status $1 | sed -n 1p | grep -q Connected
}

export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
alias java8='export JAVA_HOME=$JAVA_8_HOME'

function satsys() {
  case $1 in
    vpn)
      networksetup -connectpppoeservice $SATVPN
      SECONDS=0
      until vpn_connected $SATVPN
      do
 
        if (( SECONDS > 60 ))
        then
          os_voice_pl "Nie udało się połączyć, co za pech!"
          echo "${FG_RED}timeout reached${NORM}; giving up..."
          exit 1
        fi

        echo "vpn is not connected yet; waiting..."
        sleep 1
      done
      
      os_voice_pl "VPN połączony. Nie dziękuj." 
      echo "vpn ${FG_WHITE}$SATVPN${NORM} ${FG_GREEN}connected${NORM}"
      CURRENT_IP=$(ifconfig | grep  10.10.6 | awk '{print $2}')
      sudo route add 10.10.15.0/24 $CURRENT_IP
      sudo route add 10.20.4.0/24 $CURRENT_IP
      sudo route add 10.20.1.0/24 $CURRENT_IP
      sudo route add 10.130.3.0/24 $CURRENT_IP
      sudo route add 10.20.5.0/24 $CURRENT_IP
      sudo route add 10.10.8.0/24 $CURRENT_IP
      sudo route add 10.10.16.0/24 $CURRENT_IP
      sudo route add 192.168.13.0/24 $CURRENT_IP
      sudo route add 10.20.6.0/24 $CURRENT_IP
      sudo route add 10.40.254.0/24 $CURRENT_IP
      sudo route add 10.10.6.0/24 $CURRENT_IP
      sudo route add 10.10.17.0/24 $CURRENT_IP
      sudo route add 10.130.25.0/24 $CURRENT_IP
      sudo route add 10.128.15.0/24 $CURRENT_IP
      sudo route add 10.128.46.0/24 $CURRENT_IP
      sudo route add 10.128.45.0/24 $CURRENT_IP
      sudo route add 10.128.29.0/24 $CURRENT_IP
      sudo route add 10.130.90.0/24 $CURRENT_IP
      sudo route add 10.131.24.0/24 $CURRENT_IP
      sudo route add 10.131.29.0/24 $CURRENT_IP
      sudo route add 10.131.32.0/24 $CURRENT_IP
      sudo route add 10.131.27.0/24 $CURRENT_IP
      sudo route add 10.131.5.0/24 $CURRENT_IP
      sudo route add 10.131.15.0/24 $CURRENT_IP
      sudo route add 10.131.31.0/24 $CURRENT_IP
      sudo route add 10.231.240.0/24 $CURRENT_IP
      sudo route add 10.128.78.0/24 $CURRENT_IP
      sudo route add 10.128.75.0/24 $CURRENT_IP
      ;;
    cleanup)
      networksetup -disconnectpppoeservice $SATVPN
      echo "vpn ${FG_WHITE}$SATVPN${NORM} ${FG_RED}disconnected${NORM}"

      sudo route delete 10.10.15.0/24
      sudo route delete 10.20.4.0/24
      sudo route delete 10.20.1.0/24
      sudo route delete 10.130.3.0/24
      sudo route delete 10.20.5.0/24
      sudo route delete 10.10.8.0/24
      sudo route delete 10.10.16.0/24
      sudo route delete 192.168.13.0/24
      sudo route delete 10.20.6.0/24
      sudo route delete 10.40.254.0/24
      sudo route delete 10.10.6.0/24
      sudo route delete 10.10.17.0/24
      sudo route delete 10.130.25.0/24
      sudo route delete 10.128.15.0/24
      sudo route delete 10.128.46.0/24
      sudo route delete 10.128.45.0/24
      sudo route delete 10.128.29.0/24
      sudo route delete 10.130.90.0/24
      sudo route delete 10.131.24.0/24
      sudo route delete 10.131.29.0/24
      sudo route delete 10.131.32.0/24
      sudo route delete 10.131.27.0/24
      sudo route delete 10.131.5.0/24
      sudo route delete 10.131.15.0/24
      sudo route delete 10.131.31.0/24
      sudo route delete 10.231.240.0/24
      sudo route delete 10.128.78.0/24
      sudo route delete 10.128.75.0/24

      ;;
    *)
      print "unknown command"
      ;;
  esac
}

function console() {
  osascript -e "tell application \"Arc\"
	tell front window
		activate
		make new tab with properties {URL:\"https://${1}:8080/console/\"}
	end tell
end tell"
}

fetch_buster_package() { 
  docker run --rm -v "$HOME/cache:/cache" --platform linux/amd64 -it debian:buster bash -c "sed -i 's|http://deb\\.debian\\.org/debian|http://archive.debian.org/debian|g' /etc/apt/sources.list && echo 'APT::Install-Recommends \\\"0\\\" ; APT::Install-Suggests \\\"0\\\" ;' >> /etc/apt/apt.conf && apt-get update && apt-get install --download-only $1 && cd /var/cache/apt && tar -czf /cache/${1}-buster.tar archives"; 
}

{{- end }}
